@if (this.currentOffer) {
  <div class="page">
    <app-header [shouldRenderUserInfo]="true" />

    <main>
      <section>
        <div class="gallery-container  container">
          <div class="gallery">
            @for (image of images; track image) {
              <div class="image-wrapper">
                <img [src]="image" alt="Photo studio">
              </div>
            }
          </div>
        </div>
        <div class="offer-container  container">
          <div class="wrapper">
            @if (this.currentOffer.isPremium) {
              <div class="mark">
                <span>Premium</span>
              </div>
            }
            <div>
              <h1>{{ this.currentOffer.title }}</h1>
              <app-bookmark-button [className]="bookmarkClass" [isActive]="this.currentOffer.isFavorite" />
            </div>
            <div class="rating">
              <div class="stars">
                <span [style]="this.currentOffer.rating | applyRatingStyle"></span>
                <span class="visually-hidden">Rating</span>
              </div>
              <span class="value">{{ this.currentOffer.rating }}</span>
            </div>
            <ul class="features">
              <li class="entire">{{ this.currentOffer.type | titlecase }}</li>
              <li class="bedrooms">{{ this.currentOffer.bedrooms }} Bedrooms</li>
              <li class="adults">Max {{ this.currentOffer.maxAdults }} adults</li>
            </ul>
            <div class="price">
              <b class="value">&euro;{{ this.currentOffer.price }}</b>
              <span class="text">&nbsp;night</span>
            </div>
            <div class="inside">
              <h2>What&apos;s inside</h2>
              <ul>
                @for (good of this.currentOffer.goods; track good) {
                  <li>{{ good }}</li>
                }
              </ul>
            </div>
            <div class="host">
              <h2>Meet the host</h2>
              <div class="user">
                <div class="avatar-wrapper" [class.pro]="currentOffer.host.isPro">
                  <img class="avatar" [src]="currentOffer.host.avatarUrl" width="74" height="74" alt="Host avatar">
                </div>
                <span class="name">{{ currentOffer.host.name }}</span>
                @if (currentOffer.host.isPro) {
                  <span class="status">Pro</span>
                }
              </div>
              <div class="description">
                <p>{{ currentOffer.description }}</p>
              </div>
            </div>
            <section class="reviews">
              <h2>
                Reviews
                @if (reviews.length) {
                  &nbsp;&middot;&nbsp;
                  <span>{{ reviews.length }}</span>
                }
              </h2>
              @if (reviews.length) {
                <app-reviews-list [reviews]="reviews" />
              }
              <app-comment-form />
            </section>
          </div>
        </div>
        <app-map [className]="mapClass" [offers]="offers" />
      </section>
      <div class="container">
        <section class="near-places">
          <h2>Other places in the neighbourhood</h2>
          <app-offers-list [offers]="offers" [className]="className" />
        </section>
      </div>
    </main>
  </div>
}
