<div class="page  gray  with-picture">
  <app-header [shouldRenderUserInfo]="false" />

  <main>
    <main>
    <div class="container">
      <section class="form">
        <h1>404: The Page Isn’t Found</h1>
        <p>
          Please, go to the <a [routerLink]="[routeToMain]">main page</a>.
        </p>
      </section>
      <section class="locations  current-locations  locations-with-picture">
        <div>
          <app-link-to-city [city]="city" [isActive]="true" />
        </div>
      </section>
    </div>
  </main>
  </main>
</div>
