li {
  display: flex;
  align-items: flex-start;

  margin-bottom: 52px;
}

:host:last-child li {
  margin-bottom: 0;
}

.locations {
  display: flex;

  width: 244px;
  margin-right: 20px;
}

.locations a {
  min-width: 137px;
  padding: 9px 14px 6px 15px;

  letter-spacing: 0.9px;
  text-align: center;
}
