<article [class.favorite]="isFavorite()">
  <div class="mark">
    <span>Premium</span>
  </div>
  <div class="image-wrapper">
    <a href="#">
      <img src="img/apartment-01.jpg" [width]="sizes.width" [height]="sizes.heigth" alt="Place image" />
    </a>
  </div>
  <div class="info">
    <div class="price-wrapper">
      <div class="price">
        <b>&euro;120</b>
        <span class="price-text">&#47;&nbsp;night</span>
      </div>
      <app-bookmark-button [className]="bookmarkClass" />
    </div>
    <div class="rating">
      <div class="stars">
        <span style="width: 80%"></span>
        <span class="visually-hidden">Rating</span>
      </div>
    </div>
    <h2>
      <a href="#">Beautiful &amp; luxurious apartment at great location</a>
    </h2>
    <p>Apartment</p>
  </div>
</article>
