<article [class.favorite]="isFavorite()">
  @if (offer().isPremium) {
    <div class="mark">
      <span>Premium</span>
    </div>
  }
  <div class="image-wrapper">
    <a [routerLink]="[routeToOffer, offer().id]">
      <img [src]="offer().previewImage" [width]="sizes.width" [height]="sizes.heigth" alt="Place image" />
    </a>
  </div>
  <div class="info">
    <div class="price-wrapper">
      <div class="price">
        <b>&euro;{{ offer().price }}</b>
        <span class="price-text">&#47;&nbsp;night</span>
      </div>
      <app-bookmark-button [className]="bookmarkClass" />
    </div>
    <div class="rating">
      <div class="stars">
        <span [style]="applyRatingStyle(offer().rating)"></span>
        <span class="visually-hidden">Rating</span>
      </div>
    </div>
    <h2>
      <a [routerLink]="[routeToOffer, offer().id]">{{ offer().title }}</a>
    </h2>
    <p>{{ capitalize(offer().type) }}</p>
  </div>
</article>
