.button {
  margin-top: 2px;
}

:host-context(article) .button {
  flex-shrink: 0;

  width: 18px;
  height: 19px;
}

:host-context(.favorite) .button {
  margin-top: 0;

  transform: skew(10deg);
}

:host-context(.offer-container) .button {
  position: absolute;
  top: 41px;
  right: 93px;
  width: 31px;

  height: 33px;
}

svg {
  fill: none;
  stroke: #979797;
  stroke-width: 2;

  transition: fill .3s, stroke .3s
}

.button:focus svg,
.button:hover svg {
  stroke: #4481c3;
}

.button.active svg {
  fill: #4481c3;
  stroke: #4481c3;
}
