<li>
  <div class="user">
    <div class="avatar-wrapper">
      <img class="avatar" [src]="review().user.avatarUrl" width="54" height="54" alt="Reviews avatar">
    </div>
    <span class="name">{{ review().user.name }}</span>
  </div>
  <div class="info">
    <div class="rating">
      <div class="stars">
        <span [style]="applyRatingStyle(review().rating)"></span>
        <span class="visually-hidden">Rating</span>
      </div>
    </div>
    <p>{{ review().comment }}</p>
    <time [dateTime]="review().date">{{ formatDate(review().date) }}</time>
  </div>
</li>
