@import 'normalize.css';

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('../public/fonts/rubik-light.woff2') format('woff2'),
    url('../public/fonts/rubik-light.woff') format('woff'),
    url('../public/fonts/rubik-light.ttf') format('truetype');
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../public/fonts/rubik-regular.woff2') format('woff2'),
    url('../public/fonts/rubik-regular.woff') format('woff'),
    url('../public/fonts/rubik-regular.ttf') format('truetype');
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('../public/fonts/rubik-medium.woff2') format('woff2'),
    url('../public/fonts/rubik-medium.woff') format('woff'),
    url('../public/fonts/rubik-medium.ttf') format('truetype');
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('../public/fonts/rubik-bold.woff2') format('woff2'),
    url('../public/fonts/rubik-bold.woff') format('woff'),
    url('../public/fonts/rubik-bold.ttf') format('truetype');
}

body,
html {
  box-sizing: border-box;
  width: 100%;
  min-width: 1144px;
  margin: 0;
  padding: 0;

  font-family: rubik, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;

  color: #383838;
  background-color: #f5f5f5;
}

*,
::after,
::before {
  box-sizing: inherit
}

a {
  text-decoration: none;

  cursor: pointer;

  color: inherit;

  outline: 0;

  transition:
    opacity 0.3s,
    color 0.3s;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  border: 0;
}

.container {
  width: 1144px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 58px;
  padding-left: 58px;
}

.button {
  display: inline-block;

  padding: 0;

  font: inherit;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: wrap;

  cursor: pointer;

  background: none;

  border: none;
  outline: 0;

  transition:
    color 0.3s,
    background-color 0.3s;
}

.page {
  background-color: #fff;
}

.gray {
  background-color: #f5f5f5;
}

.with-picture {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 1144px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;

  background-image:
    linear-gradient(to right, #f5f5f5 509px, transparent 509px),
    url('../public/img/amsterdam.jpg');
  background-position:
    top left,
    right top;
  background-repeat:
    no-repeat,
    no-repeat;
  background-size:
    auto,
    auto 100%;
}

@media
  (-webkit-min-device-pixel-ratio:1.5),
  (min-resolution:144dpi),
  (min-resolution:1.5dppx) {
  .with-picture {
    background-image:
      linear-gradient(to right, #f5f5f5 509px, transparent 509px),
      url('../public/img/amsterdam@2x.jpg');
  }
}

@media (max-height:720px) {
  .with-picture {
    background-size:
      auto,
      auto 715px;
  }
}

.stars {
  position: relative;

  display: block;

  font-size: 0;
}

.stars::before {
  display: inline-block;

  height: 100%;

  content: '';

  background: url('../public/img/stars.svg') center no-repeat transparent;
}

.stars span {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  overflow: hidden;

  height: 100%;
}

.stars span::before {
  display: inline-block;

  height: 100%;

  content: '';

  background: url('../public/img/stars-active.svg') center no-repeat transparent;
}

.submit {
  padding: 16px 20px 13px;

  color: #fff;
  background-color: #4481c3;

  border-radius: 3px;
}

.submit:focus,
.submit:hover {
  background-color: #3069a6;
}

.button:disabled {
  background-color: #c7c7c7;
}

.locations li,
.locations div {
  display: block;

  margin-right: 36px;
  margin-bottom: 19px;
}

.current-locations div {
  margin: 0;
}

.locations-with-picture {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  padding: 0 51px 63px 130px;
}

.form {
  position: relative;

  width: 520px;
  padding-top: 19.6vh;
  padding-right: 60px;
  padding-left: 13px;
}

.form::after {
  position: absolute;
  right: -2px;
  bottom: 0;

  width: 12.03vh;
  min-width: 195px;
  height: 100vh;
  min-height: 450px;

  content: '';

  background-color: #f5f5f5;

  border-right: 6px solid #4481c3;

  transform: skew(-6.5deg);
}

.form h1 {
  position: relative;
  z-index: 1;

  margin-top: 0;
  margin-bottom: 28px;

  font-size: 32px;
  font-weight: 700;
  font-style: oblique;
  line-height: 1.1875;
}

